.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 30;

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 114px;
		@media (max-width: $tablet) {
			min-height: 80px;
		}
	}

	&__menu {
		flex: 1 1 auto;
	}

	&__button {
		display: flex;
		flex: 0 0 252px;
		justify-content: flex-end;
		@media (max-width: $mobile) {
			justify-content: center;
			position: relative;
			left: -100px;
		}
		@media (max-width: $tablet) {
			flex: 0 0 170px;
		}
	}
	&__logo img {
		@media (max-width: 530px) {
			display: none;
		}
	}
}
.menu {
	@media (max-width: $mobile) {
		&__body {
			height: 100%;
			width: 100%;
			top: 0;
			left: -100%;
			position: fixed;
			background-color: rgba(0, 0, 0, 0.9);
			z-index: 10;
			transition: left 0.3s ease 0;
			overflow: auto;
		}

		&__body.--active {
			left: 0;
		}
	}

	&__button {
		display: none;
		@media (max-width: $mobile) {
			display: block;
			height: 18px;
			width: 30px;
			z-index: 50;
			position: relative;
			cursor: pointer;
			top: -5px;
			left: -20px;

			& span,
			&::before,
			&::after {
				left: 0;
				position: absolute;
				height: 10%;
				width: 100%;
				transition: all 0.3s ease 0s;
				background-color: #cc3f48;
			}

			&::before,
			&::after {
				content: "";
			}

			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}

			& span {
				top: 50%;
				transform: scale(1) translate(0px, -50%);
			}

			&.--active span {
				transform: scale(0) translate(0, -50%);
			}

			&.--active::before {
				top: 50%;
				transform: rotate(-45deg) translate(0, -50%);
			}

			&.--active::after {
				bottom: 50%;
				transform: rotate(45deg) translate(0, 50%);
			}
		}
	}

	&__list {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		padding: 0px 15px 0px 0px;
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: center;
			padding: 0px 0px 0px 0px;
			margin: 170px 0px 0px 0px;
		}
	}

	&__item {
		margin: 0px 30px 0px 0px;
		@media (max-width: $mobile) {
			margin: 0px 0px 60px 0px;
		}
	}

	&__link {
		padding: 10px;
		font-family: Raleway;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 10px;
		line-height: 1.2;
		color: #000;
		@media (max-width: $mobile) {
			color: white;
			padding: 30px 0px;
			font-size: rem(20);
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.btn {
	display: inline-block;
	color: #fcfdfe;
	font-family: Raleway;
	font-style: normal;
	font-weight: 800;
	font-size: rem(10);
	line-height: 1.2;
	padding: 14px 30px;
	text-transform: uppercase;
	letter-spacing: 0.14em;
	border-radius: 5px;
	background-color: $redColor;
	transition: background-color 0.3s ease 0s;

	&:hover {
		background-color: #cc3f48;
	}

	&--blue {
		background-color: $blueColor;
		&:hover {
			background-color: rgb(74, 74, 214);
		}
	}
}
.btn--blue {
	background-color: $blueColor;
}

.btn--red {
	background-color: $redColor;
}
